<!-- <a href="https://youtu.be/kd_zuEYCDck" target="_blank" data-keyframers-credit style="color: #000"></a>
<script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script> -->

<input type="radio" name="scene" id="scene-1" value="1" checked />
<input type="radio" name="scene" id="scene-2" value="2" />
<input type="radio" name="scene" id="scene-3" value="3" />
<input type="radio" name="scene" id="scene-4" value="4" />

<main id="site">
  <header class="top-nav">
    Marula Mining PLC
  </header>
  <div class="ocean">
    <div class="ocean-text">Marula</div>
  </div>
  <div class="left-side">    
    <div class="page-numbers" data-total="04">
      <div class="page-number -tens">0</div>
      <div class="page-number -ones">
        1<br/>2<br/>3<br/>4
      </div>
      
    </div>
  </div>
  <div class="hero">
    <div class="layer" data-scene="1">  
      <h1 class="heading">
        We are an<br />
        African focused<br />
         mining company
      </h1> 
    </div>
    <div class="layer" data-scene="2">      
      <h1 class="heading">
        Mining and exlporation,<br />
        various countries in<br />
        the continent
      </h1> 
    </div>
    <div class="layer" data-scene="3">      
      <h1 class="heading">
        Rapid delivery<br />
        for our<br />
        shareholders
      </h1>  
    </div>
    <div class="layer" data-scene="4">      
      <h1 class="heading">
        We identify advanced<br /> and
        high-value <br />
        projects
      </h1>  
    </div>
  </div>

  <div class="left-content">
    <div class="layer" data-scene="1"> 
      <img class="logo fact"  src="./../assets/Logo_trans.png" style="height: 60px;display: inline;" alt="" srcset="">     
      
      <div class="fact subtitle top">We are involved in</div>  
        <div class="fact number _1"> Lithium,
          tantalum, niobium, <br> graphite, tin and other base metals</div>
    </div>
    <div class="layer" data-scene="2">      
      <img class="logo fact"  src="./../assets/Logo_trans.png" style="height: 60px;display: inline;" alt="" srcset="">     
      
      <div class="fact subtitle top">Present in</div> 
      <div class="fact number _1">Zambia, South Africa, Kenya and throughout East & South African countries.</div>
    </div>
    <div class="layer" data-scene="3">      
      <img class="logo fact"  src="./../assets/Logo_trans.png" style="height: 60px;display: inline;" alt="" srcset="">     
      
      <div class="fact subtitle top">Investments and corporate transactions</div>
      <div class="fact number _1">Direct project investments, joint ventures and earn-in & strategies</div>
      <!-- <div class="fact description">¬ cubic tonnes of earth excavated yearly</div> -->
    </div>
    <div class="layer" data-scene="4">      
      <img class="logo fact"  src="./../assets/Logo_trans.png" style="height: 60px;display: inline;" alt="" srcset="">     
      
      <div class="fact subtitle top">Follow us on</div>
      <div class="fact number">
        <ul class="social-icons">
          <li><a href="https://twitter.com/MarulaPlc " class="social-icon"> <i class="fa fa-twitter"></i></a></li> 
          <li><a href="https://www.instagram.com/marula_mining/" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/company/marula-mining-plc/" class="social-icon"> <i class="fa fa-linkedin"></i></a></li> 
        </ul>
      </div> 
    </div>
  </div>
  <div class="right-content">

    <nav class="slide-nav">
      <div class="nav-button -prev">
        &lt;
      
        <label class="nav-toggle" for="scene-1">1</label>
        <label class="nav-toggle" for="scene-2">2</label>
        <label class="nav-toggle" for="scene-3">3</label>
        <label class="nav-toggle" for="scene-4">4</label>
       
      </div>
      <div class="nav-button -next">
        <small style="font-size: 10px;">Next</small> &gt;
      
        <label class="nav-toggle" for="scene-1">1</label>
        <label class="nav-toggle" for="scene-2">2</label>
        <label class="nav-toggle" for="scene-3">3</label>
        <label class="nav-toggle" for="scene-4">4</label>
      </div>
    </nav>

    <div class="layer" data-scene="1">      
      <h2 class="heading">
        African focused mining and exploration
      </h2>
      <p class="paragraph">
        Marula Mining is an African focused mining and exploration company; identifying advanced and
        high-value projects that can deliver rapidly for shareholders and can be taken through to
        production and generate positive returns for all stakeholders.      </p>
    </div>

    <div class="layer" data-scene="2">      
      <h2 class="heading">
        Advancing in negotiations
      </h2>
      <p class="paragraph">
        Marula Mining is advancing its negotiations to finalize the acquisition of several advanced lithium,
        tantalum, niobium, graphite and tin and other base metals projects in Africa that it is looking to fast
        track development of in 2022.
      </p>
    </div>

    <div class="layer" data-scene="3">      
      <h2 class="heading">
        Seeking investments and new opportunities
      </h2>
      <p class="paragraph">
        We are currently progressing investments in the Nkombwa Hill project in Zambia and the Blesberg Lithium, Tantalum project in South Africa.
      </p>
    </div>
    
    <div class="layer" data-scene="4">      
      <h2 class="heading">
        Learn more about how we can invest and partner with you. 

      </h2>
      <p class="paragraph">
        Marula is actively looking to increase its investments in advanced mining and exploration projects and companies that are located throughout East, central and Southern Africa.

      </p>
    </div>
    

  </div>
</main>